<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aditya.usage"
    android:installLocation="internalOnly" >

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".Utilities.UsageApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activity.MainActivity"
            android:label="Usage"
            android:theme="@style/NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.example.aditya.usage.Receivers.RebootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.example.aditya.usage.Receivers.ManageDataReceiver"></receiver>

        <receiver android:name="com.example.aditya.usage.Receivers.CheckFutileAppsReceiver"></receiver>

        <service
            android:name=".Service.ProcessDataUpdateService"
            android:enabled="true"
            android:exported="false" >
        </service>
        <service
            android:name=".Service.CheckForegroundAppService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <activity
            android:name=".Activity.AppUsagePatternActivity"
            android:label="@string/title_activity_app_usage_pattern" >
        </activity>
        <activity
            android:name=".Activity.MemoryUsageActivity"
            android:theme="@style/NoActionBar"
            android:label="@string/title_activity_memory_usage" >
        </activity>
        <activity
            android:name=".Activity.SingleAppUsageInfoActivity"
            android:theme="@style/NoActionBar"
            android:label="@string/title_activity_single_app_usage_info" >
        </activity>

        <service
            android:name=".Service.ManageDataIntentService"
            android:exported="false" >
        </service>
    </application>

</manifest>
